@model TipoCuenta;

@{
    ViewData["Title"] = "Crear Tipo Cuenta";
}

<h1>Crear Tipo de Cuenta</h1>

<h5>
    Se refiere a agrupar las cuentas.
    Ejemplo: Préstamos, tarjetas de crédito, etc...
</h5>

@*ALL: todos los errores*@
<div asp-validation-summary="All" class="text-danger"></div>

@* A que controlador apuntamos: asp-controller *@
<form asp-controller="TiposCuentas" asp-action="Crear">
    <div class="mb-3">
        <label for="Nombre" class="form-label" >Nombre</label>
        <input type="text" id="Nombre" name="Nombre" class="form-control"/>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>